#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
}

.DecklistTextArea {
  width: 100%;
  /* 画面の最大縦幅の70%が縦の長さ */
  height: 70vh;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
}
